<table class="table table-hover">
    <thead>
        <tr>
            <th>Estacion</th>
            <th>Ubicacion</th>
            <th>Disponibilidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success">
            <td>Chapinero</td>
                <td>Calle 00 # 00-00</td> 
                <td>100%</td>
                <td>Llenar</td>
            </tr>
            <tr>
                <td>Centro</td>
                <td>Calle 00 # 00-00</td> 
                <td>50%</td>
                <td>Llenar</td>
            </tr>
            <tr class="danger">
                <td>Usaquen</td>
                <td>Calle 00 # 00-00</td> 
                <td>10%</td>
                <td>Llenar</td>
            </tr>
            <tr>
                <td>Teusaquillo</td>
                <td>Calle 00 # 00-00</td> 
                <td>60%</td>
                <td>Llenar</td>
            </tr>
            <tr class="warning">
                <td>Suba</td>
                <td>Calle 00 # 00-00</td> 
                <td>15%</td>
                <td>Llenar</td>
            </tr>
            <tr>
                <td>Candelaria</td>
                <td>Calle 00 # 00-00</td> 
                <td>40%</td>
                <td>Llenar</td>
            </tr>
    </tbody>
</table>