<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ubicaci&oacute;n</th>
            <th>Capacidad</th>
            <th>Nivel de ocupaci&oacute;n
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="success" ng-repeat="estacion in estaciones | orderBy: 'id'">
            <td>{{estacion.id}}</td>
            <td>{{estacion.ubicacion}}</td>
            <td>{{estacion.capacidad}}</td>
            <td>{{estacion.ocupacion}}</td>
            <td><a ng-click="vcubs($index)">Ver vcubs</a>|<a ng-click="ocultar()">Ocultar vcubs</a></td>
        </tr>
    </tbody>
</table>
<table class="table table-hover" ng-if="bicis.length > 0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ubicaci&oacute;n</th>
            <th>Capacidad</th>
            <th>Nivel de ocupaci&oacute;n
        </tr>
    </thead>
    <tbody>
        <tr class="success" ng-repeat="bici in bicis | orderBy: 'id'">
            <td>{{bicis.id}}</td>
            <td>{{bicis.ubicacion}}</td>
            <td>{{bicis.capacidad}}</td>
            <td>{{bicis.ocupacion}}</td>
        </tr>
    </tbody>
</table>