<h4>Vehiculos
    | <a ng-click="showOcupados()" ng-if="!ocupados">Ver ocupados</a><a ng-click="showAll()" ng-if="ocupados">Ver todos</a> 
    | <a ng-click="showDisponibles()" ng-if="!disponibles">Ver disonbiles</a><a ng-click="showAll()" ng-if="disponibles">Ver todos</a>
</h4>
<div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
<table datatable-setup class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Estado</th>
            <th>Placa</th> 
            <th>Capacidad</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="sensualtablabody">  
        <tr ng-repeat="bus in totalR | orderBy: 'id'" ng-if="bus.isAccidentado()" class="danger">
            <td>{{bus.id}}</td>
            <td>{{bus.estado}}</td>
            <td>{{bus.placa}}</td>
            <td>{{bus.capacidad}}</td>
            <td>{{bus.Latitud}}</td>
            <td>{{bus.Longitud}}</td>
            <td><a ng-click="showReviews($index)" ng-if="reviews != bus.id">Ver revisiones</a><a ng-if="reviews == bus.id" ng-click="hideReviews()">Ocultar</a></td>
        </tr>
        <tr ng-repeat="bus in totalR | orderBy: 'id'" ng-if="!bus.isAccidentado()">
            <td>{{bus.id}}</td>
            <td>{{bus.estado}}</td>
            <td>{{bus.placa}}</td>
            <td>{{bus.capacidad}}</td>
            <td>{{bus.latitud}}</td>
            <td>{{bus.longitud}}</td>
            <td><a ng-click="showReviews($index)" ng-if="reviews != bus.id">Ver revisiones</a><a ng-if="reviews == bus.id" ng-click="hideReviews()">Ocultar</a></td>
        </tr>    
    </tbody>                
</table>
<table class="table table-hover" ng-if="reviews > 0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha anterior</th>
            <th>Fecha</th> 
            <th>Kilometraje actual</th>
        </tr>
    </thead>
    <tbody id="sensualtablabody2">
        <tr ng-repeat="revision in revisiones | orderBy: 'id'"  class="danger">
            <td>{{revision.id}}</td>
            <td>{{revision.fechaAnterior}}</td>
            <td>{{revision.fecha}}</td>
            <td>{{revision.kilometraje}}</td>
        </tr>       
    </tbody>                
</table>
