<div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
<h4>Vehiculos</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Estado</th>
            <th>Panico activado</th> 
            <th>Longitud</th>
            <th>Latitud</th>
            <th>Temperatura</th>
        </tr>
    </thead>
    <tbody id="sensualtablabody">
        
        <tr ng-repeat="bus in buses | orderBy: 'id'" ng-if="bus.isAccidentado()" class="danger">
            <td>{{bus.id}}</td>
            <td>{{bus.estado}}</td>
            <td>{{bus.panico}}</td>
            <td>{{bus.longitud}}</td>
            <td>{{bus.latitud}}</td>
            <td>{{bus.temperatura}}</td>
        </tr>
        <tr ng-repeat="bus in buses | orderBy: 'id'" ng-if="!bus.isAccidentado()">
            <td>{{bus.id}}</td>
            <td>{{bus.estado}}</td>
            <td>{{bus.panico}}</td>
            <td>{{bus.longitud}}</td>
            <td>{{bus.latitud}}</td>
            <td>{{bus.temperatura}}</td>
        </tr>
        
    </tbody>                
</table>