<div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
<h4>Vehiculos</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Estado</th>
            <th>Panico activado</th> 
            <th>Longitud</th>
            <th>Latitud</th>
            <th>Temperatura</th>
        </tr>
    </thead>
    <tbody id="sensualtablabody">
        
        <tr ng-repeat="tranvia in tranvias | orderBy: 'id'" ng-if="tranvia.isAccidentado()" class="danger">
            <td>{{tranvia.id}}</td>
            <td>{{tranvia.estado}}</td>
            <td>{{tranvia.panico}}</td>
            <td>{{tranvia.longitud}}</td>
            <td>{{tranvia.latitud}}</td>
            <td>{{tranvia.temperatura}}</td>
        </tr>
        <tr ng-repeat="tranvia in tranvias | orderBy: 'id'" ng-if="!tranvia.isAccidentado()">
            <td>{{tranvia.id}}</td>
            <td>{{tranvia.estado}}</td>
            <td>{{tranvia.panico}}</td>
            <td>{{tranvia.longitud}}</td>
            <td>{{tranvia.latitud}}</td>
            <td>{{tranvia.temperatura}}</td>
        </tr>
        
    </tbody>                
</table>
